<?xml version="1.0"?> 
<ServerInfo>
	<DataSourceUrl>jdbc/</DataSourceUrl>
	<SocketTimeout>30</SocketTimeout>
	<IniPath>ngdbini</IniPath>
	<ServerPort>3333</ServerPort>
	<AdminPort>9999</AdminPort>
	<BatchSize>100</BatchSize>
	<ThresholdTime>5000</ThresholdTime>
	<Debug>
		<ConnectionLog>False</ConnectionLog>
		<TransactionLog>False</TransactionLog>
		<ThresholdLog>True</ThresholdLog>
		<XMLLog>False</XMLLog>
		<LogSize>5242880</LogSize>
		<LogCount>100</LogCount>
		<ErrorLogSize>10</ErrorLogSize>
	</Debug>
	<CharacterSet>UTF-8</CharacterSet>
	<BinaryClassName>com.newgen.omni.jts.txn.OracleWebSphereLargeObject</BinaryClassName>
	<CabinetSpecificLogging>True</CabinetSpecificLogging>
	<FlushConnection>False</FlushConnection>
</ServerInfo>
<CabinetList>
</CabinetList>
